$banner-gradient-color: #585858;
$cards-gradient-color: #000000;
$font-main-color: #fff;
$font-second-color: #333333;
$thumb-agree-color: #1CBBB4;
$thumb-desagree-color: #FFAD1D;
$h1-size: 60px;
$h2-size: 45px;
$h3-size: 34px;
$menu-font-size: 16px;
$ligth-font: 300;
$regular-font: 400;
$bold-font: 700;