<div class="banner-container">
    <div class="banner-container__header">
        <div class="banner-container__header__content">
            <h3 class="banner-container__header__content__title">
                Rule of Thumb.
            </h3>
            <div class="banner-container__header__content__menu">
                <span class="banner-container__header__content__menu--margin">Past Trials</span>
                <span class="banner-container__header__content__menu--margin">How It's Works</span>
                <span class="banner-container__header__content__menu--margin">Log In / Sing Up</span>
                <i class="fas fa-search"></i>
            </div>
        </div>
    </div>
    <div class="banner-container__parent">
        <div class="banner-container__parent__box">
            <div class="banner-container__parent__box__content">
                <span class="banner-container__parent__box__content__opinion">
                    what's your opinion on
                </span>
                <h1 class="banner-container__parent__box__content__title">
                    Pope Francis ?
                </h1>
                <p class="banner-container__parent__box__content__description">
                    He’s talking tough on clergy sexual abuse, but is he just another papal pervert protector? (thumbs down) or
                    a true pedophile punishing pontiff? (thumbs up)
                </p>
                <div class="banner-container__parent__box__content__link">
                    <i class="fab fa-wikipedia-w"> </i>
                    <a class="banner-container__parent__box__content__link--color" href="https://en.wikipedia.org/wiki/Pope_Francis">More Information</a>
                </div>
                <span class="banner-container__parent__box__content__question">
                    what's your veredict ?
                </span>
            </div>
            <div class="banner-container__parent__box__thumbs">
                <div class="banner-container__parent__box__thumbs--left">
                    <img src="../../assets/icons/thumb-up.png">
                </div>
                <div class="banner-container__parent__box__thumbs--rigth">
                    <img src="../../assets/icons/thumb-down.png">
                </div>
            </div>
        </div>
    </div>
    <div class="banner-container__closing">
        <div class="banner-container__closing__container banner-container__closing__container--label">
            <span>CLOSING IN</span>
        </div>
        <div class="banner-container__closing__container banner-container__closing__container--remaining-days">
            <span>22 days</span>
        </div>
    </div>

</div>